a.header-logo {
    display: block;
    margin: 0 auto;
}

ul.permission-list {
    display: flex;
    flex-wrap: wrap;
}

ul.permission-list li {
    flex: 0 0 25%;
}

ul.sidebar-menu.active {
    display: block;
}

.dz-progress {
    display: none;
}
div#existing-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

div#existing-images div {
}

button.remove-existing-image {
    position: absolute;
    right: 5px;
    top: 4px;
    background: red;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.user-select {
    width: auto !important;
}

ul.attendance-list li {
    padding: 14px 0;
    border-top: 1px solid;
    border-color: #c9ccdf;
}
ul.attendance-list li {
    display: flex;
    justify-content: space-between;
}

li.att-li {
    flex-wrap: wrap;
}

li.att-li * {
    flex: 0 0 50%;
}

.attendance-head span.icon-clock {
    color: #FAC641;
    font-size: 20px;
}
.attendance-head {
    font-size: 18px;
}

body.body-area {}

.dropdown-toggle {}

.ropdown-toggle {}

.dropdown-toggle::after {
    content: none;
}

button.btn.btn-secondary.dropdown-toggle {
    padding: 0;
    height: 25px;
    width: 25px;
}

.dropdown-toggle {
    padding: 0;
    height: 0;
    width: 0;
}